{% extends 'layout.html.twig' %}

{% block title %}
    Eliminar: {{ idea.titulo }}
{% endblock %}

{% block content %}
    <h1>{{ idea.id ? idea.titulo : 'Nueva idea' }}</h1>

    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            {% if is_granted('IDEA_MODIFICAR', idea) %}<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>{% endif %}
            {% if idea.id and is_granted('IDEA_ELIMINAR', idea) %}<a href="{{ path('idea_eliminar', {'id': idea.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>{% endif %}
            <a href="{{ path('idea_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de ideas</a>
        </div>
    </div>
    {{ form_end(formulario) }}
{% endblock %}

