{% extends 'layout.html.twig' %}

{% block title 'Catálogo de ideas' %}

{% block content %}
    <h1>Catálogo de ideas</h1>

    <p class="well well-sm">
        {% if filtro != 'todas' %}<a href="{{ path('idea_listar', {'filtro': 'todas'}) }}" class="btn btn-info">Mostrar todas las ideas</a>{% endif %}
        {% if filtro != 'aprobadas' %}<a href="{{ path('idea_listar', {'filtro': 'aprobadas'}) }}" class="btn btn-info">Mostrar las ideas aprobadas</a>{% endif %}
        {% if filtro != 'rechazadas' %}<a href="{{ path('idea_listar', {'filtro': 'rechazadas'}) }}" class="btn btn-info">Mostrar las ideas rechazadas</a>{% endif %}
    </p>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Título</th>
                <th>Detalle</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for idea in ideas %}
            <tr>
                <td>{% if idea.fechaRechazo %}<i class="fa fa-times"></i>{% elseif idea.fechaAprobacion %}<i class="fa fa-check"></i>{% endif %}</td>
                <td>{{ idea.fechaPropuesta|date('d/m/Y') }}</td>
                <td><a href="{{ path('idea_mostrar', {'id': idea.id}) }}">{{ idea.titulo }}</a></td>
                <td>{{ idea.descripcion }}</td>
                <td><a href="{{ path('idea_usuario_mostrar', {'id': idea.autor.id}) }}">{{ idea.autor }}</a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No hay ideas que mostrar</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
