{% extends 'layout.html.twig' %}

{% block title 'Catálogo de ideas' %}

{% block content %}
    <h1>Catálogo de ideas</h1>

    <table border="1px">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Título</th>
                <th>Detalle</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for idea in ideas %}
            <tr>
                <td>{{ idea.fecha_propuesta|date('d/m/Y') }}</td>
                <td><a href="{{ path('idea_mostrar', {'id': idea.id}) }}">{{ idea.titulo }}</a></td>
                <td>{{ idea.descripcion }}</td>
                <td>{{ idea.autor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
