{% extends 'layout.html.twig' %}

{% block title 'Catálogo de ideas' %}

{% block content %}
    <h1>Catálogo de ideas votadas{% if ultima_semana %} la última semana{% endif %}</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Votos</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
            <tr>
                <td>{% if dato.idea.fechaRechazo %}<i class="fa fa-times"></i>{% elseif dato.idea.fechaAprobacion %}<i class="fa fa-check"></i>{% endif %}</td>
                <td>{{ dato.idea.fechaPropuesta|date('d/m/Y') }}</td>
                <td>{{ dato.idea.titulo }}</td>
                <td>{{ dato.idea.autor }}</td>
                <td>{{ dato.votos }}</td>
                <td>{{ dato.puntos }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">No hay ideas que mostrar</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
