{% extends 'layout.html.twig' %}

{% block title %}
    Detalle: {{ idea.titulo }}
{% endblock %}

{% block content %}
    <h1>{{ idea.titulo }}</h1>
    <h2>Propuesta por {{ idea.autor }} el {{ idea.fecha_propuesta|date('d/m/Y') }}</h2>
    <p>{{ idea.descripcion }}</p>

    <a href="{{ path('idea_listar') }}">Volver al listado de ideas</a>
{% endblock %}

